<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Fecha: </h3>@ViewBag.Fecha
        <h2>Bienvenido al Sitio</h2>
        @Html.ActionLink("Ir a Medicos", "Index", "Medico")
    </div>
</body>
</html>
